:root {
  --background-color: #8ed3d6;
  --primary-color: #f04a57;
  --secondary-color: #ef3e4c;
  --primary-text: #1c98af;
  --secondary-text: #ffffff;
  --heading-text: #2f5570;
  --info-text: #d6d93e;
  --danger-color: #ff8585;
  --success-color: #c7f9cc;
  --warning-color: #fcefb4;
  --muted-color: #1d3e5d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--background-color);
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.game-info {
  max-width: 375px;
  order: 2;
}

.game-info h1 {
  font-size: 2.3rem;
  color: var(--heading-text);
  margin-top: 0.5rem;
}

.game-info ul {
  color: var(--info-text);
  background-color: var(--heading-text);
  margin: 0.5rem 0;
  padding: 10px 25px;
  border: 3px solid var(--heading-text);
  border-radius: 4px;
}

.game-info ul li {
  font-size: 1.1rem;
  font-weight: 900;
  text-align: justify;
}

.mobile-container {
  width: 375px;
  height: 640px;
  margin: 0.5rem;
  background-color: var(--primary-color);
  border-width: 15px 10px;
  border-style: solid;
  border-color: var(--secondary-color);
  border-radius: 50% 50% 50% 50% / 10% 10% 10% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  order: 1;
}

.mobile-camera-section {
  height: 20px;
  position: relative;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.camera {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary-text);
}

.speaker {
  width: 45px;
  height: 8px;
  border-radius: 23%;
  background-color: var(--primary-text);
}

.mobile-screen-section {
  width: 95%;
  height: 70%;
  background-color: var(--secondary-text);
  position: relative;
  top: 50px;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-navigation-section {
  height: 100px;
  position: relative;
  top: 86px;
}

#check {
  background-color: var(--primary-text);
  color: var(--secondary-text);
  padding: 0 9px 3px 9px;
  font-family: monospace;
  font-size: 2.5rem;
  font-weight: 600;
  border-radius: 25px;
  border-width: 0 0 8px 0;
  border-style: solid;
  border-color: var(--heading-text);
  cursor: pointer;
}

.tries {
  text-align: center;
  margin: 1rem;
}

.remaining {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  width: 50px;
  height: 50px;
  color: var(--secondary-text);
  background-color: var(--muted-color);
  border-radius: 50%;
  padding: 0.5rem;
}

.input-section {
  text-align: center;
  margin: 35px 15px 5px 15px;
}

.input-section .userInput {
  color: #00000066;
  width: 100%;
  height: 60px;
  font-size: 2.25rem;
  font-weight: 600;
  border-style: none;
  border: 5px solid #00000066;
  border-radius: 10px;
  text-align: center;
  outline: none;
  transition: all 0.3s ease;
}

.input-section .userInput:focus {
  border: 5px solid var(--muted-color);
  color: var(--muted-color);
}

/* .input-section .userInput:focus::placeholder {
  color: var(--muted-color);
} */

.errorMsg {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 1rem;
  min-height: 20px;
  transition: opacity 0.3s ease;
}

.lowOrHi {
  font-family: monospace;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  margin: 0 15px;
  color: var(--muted-color);
}

.danger {
  background-color: var(--danger-color);
}

.success {
  background-color: var(--success-color);
}

.warning {
  font-size: 1.8rem;
  background-color: var(--warning-color);
}

.play-again {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

#newGame {
  /* width: 200px; */
  /* height: 70px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.2rem 0.4rem;
  color: var(--primary-text);
  border: 4px solid var(--primary-text);
  background-color: var(--secondary-text);
  cursor: pointer;
}

#newGame:hover {
  color: var(--secondary-color);
  border: 4px solid var(--secondary-color);
}

#newGame i {
  font-size: 2.95rem;
  margin-right: 8px;
}

#newGame span {
  font-size: 1.7rem;
  font-weight: 600;
}

.guesses-section h3 {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  color: var(--heading-text);
  text-decoration-line: underline;
  text-underline-offset: 8px;
  margin: 1rem;
}

.guesses {
  max-height: 114px;
  margin: 15px;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  overflow: auto;
}

.guesses span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-align: center;
  color: var(--secondary-text);
  background-color: var(--primary-text);
  border-width: 0 0 4px 0;
  border-style: solid;
  border-color: var(--heading-text);
}

.disabled {
  display: none;
}

@media (max-width: 768px) {
  main {
    height: auto;
    flex-direction: column;
  }

  .game-info {
    order: 1;
  }

  .game-info h1 {
    text-align: center;
  }
  .mobile-container {
    order: 2;
  }

  #newGame {
    border-width: 3px;
  }

  #newGame:hover {
    border-width: 3px;
  }

  #newGame i {
    font-size: 2.45rem;
  }

  #newGame span {
    font-size: 1.35rem;
  }
}

@media (max-width: 376px) {
  .game-info {
    width: 95%;
  }

  .game-info h1 {
    font-size: 1.8rem;
  }

  .game-info ul li {
    font-size: 1rem;
  }

  .mobile-container {
    width: 95%;
  }

  .input-section .userInput {
    font-size: 1.8rem;
  }

  .lowOrHi {
    font-size: 1.5rem;
  }

  .guesses-section h3 {
    font-size: 1.17em;
  }
}

@media (max-width: 320px) {
  main {
    overflow: auto;
  }

  .game-info {
    width: 315px;
  }

  .mobile-container {
    width: 315px;
  }
}
